.counter {
	display: flex;
	margin-top: -20px;
	margin-bottom: 15px;

	@media screen and (min-width: 768px) {
		margin-bottom: 36px;
	 }

	 @media screen and (min-width: 1280px) {
		position: absolute;
		top: 200px;
		margin-left: 160px;
		
	 }
 }

 .pictureNumber {
	text-align: justify;
	font-size: 28px;
	font-weight: 300;
	letter-spacing: -1.12px;
	margin-right: 5px;
 }

 .total {
	color: rgba(23, 61, 51, 0.25);
 }
 
 .articleImg {
	width: 320px;
	height: 180px;

	@media screen and (min-width: 768px) {
		width: 340px;
	 }

	 @media screen and (min-width: 1280px) {
		width: 596px;
		height: 335px;
	 }
 }
 
 .description {
	padding: 20px 12px 12px 12px;
	background-color: #eaedf1;
	width: 296px;
	height: 180px;

	@media screen and (min-width: 768px) {
		width: 316px;
	 }

	 @media screen and (min-width: 1280px) {
		width: 514px;
		padding: 36px 36px 12px 48px;
	 }
 }
 
 .block {
	display: flex;
	justify-content: space-between;
 }
 
 .articleTitle {
	text-align: justify;
	font-size: 18px;
	letter-spacing: -0.72px;
	width: 175px;

	@media screen and (min-width: 1280px) {
		font-size: 24px;
		width: 357px;
	 }
 }
 
 .articleBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent-cl);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: none;
 
	&:hover {
	 background-color: #173D33;;
	 transition: var(--animation);
 
	 .articleIcon {
		 stroke: var(--accent-cl);
	 }
 }
 }
 
 .articleIcon {
	width: 28px;
	height: 28px;
	stroke: currentColor;
	fill: none;
	transform: rotate(135deg);
 }
 
 .line {
	height: 1px;
	width: 100%;
	background-color: var(--accent-cl);
	margin-bottom: 16px;
	border: none;
	margin-top: 21px;
	margin-bottom: 12px;

	@media screen and (min-width: 1280px) {
		margin-top: 36px;
		margin-bottom: 24px;
	 }
 }
 
 .footnotes {
	display: flex;
	justify-content: space-between;
	text-align: justify;
	font-size: 12px;
	letter-spacing: -0.48px;

	@media screen and (min-width: 1280px) {
		font-size: 16px;
		letter-spacing: -0.64px;
	 }
 }