.form {
  width: 320px;
  padding: 36px 12px 36px 12px;
  background-color: var(--secondary-bg);

  @media screen and (min-width: 1280px) {
width: 500px;
padding: 48px;
 }
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: justify;
  font-size: 16px;
  letter-spacing: -0.64px;
}

.input {
  border-bottom: 1px solid var(--accent-cl);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  letter-spacing: -0.72px;
}
.errorMessage {
  margin-bottom: 28px;
  color: #d28b8b;

  text-align: right;
  font-size: 12px;
  letter-spacing: -0.48px;
  margin-top: 8px;
}
.textarea {
  border-bottom: 1px solid var(--accent-cl);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  resize: none;
  font-size: 18px;
  letter-spacing: -0.72px;
}

.input::placeholder,
.textarea::placeholder {
  color: #bdbdbd;
  font-size: 18px;
  letter-spacing: -0.72px;
}

.btn {
  width: 99px;
  height: 39px;
  background-color: transparent;
  /* outline: none; */
  border-radius: 500px;
  border: 1px solid #97d28b;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 4px;
  margin-bottom: 24px;

  &:hover {
    background-color: #173d33;
    transition: var(--animation);

    .btnText {
      color: var(--accent-cl);
      transition: var(--animation);
    }
  }

  @media screen and (min-width: 1280px) {
	margin-top: 32px;
 }
}

.btnText {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.64px;
  margin-right: 12px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-cl);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  transform: rotate(180deg);
  fill: none;
}
