.container {
  margin-left: auto;
  margin-right: auto;
  padding: 36px 20px 24px 20px;

  @media screen and (min-width: 768px) {
	 padding: 50px 30px 40px 30px;
  }

  @media screen and (min-width: 1280px) {
	padding: 24px 20px 40px 20px;
 }
}

section {
  padding-top: 36px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    width: 708px;
  }

  @media screen and (min-width: 1280px) {
	padding-top: 100px;
	width: 1240px;
 }
}

/* @media screen and (max-width: 768px) {
	.container{
		width: 768px;
	}

	.section {
		padding-top: 100px;
	}
} */

/* 
@media screen and (max-width: 1280px) {
	.container {
		width: 1280;
	}

	.section {
		padding-top: 120px;
	}
} */
