.valuesTitleBlock {
	@media screen and (min-width: 768px) {
		display: flex;
	 }
	 @media screen and (min-width: 1280px) {
		margin-bottom: 124px;
	 }
}

.titleContainer {
	@media screen and (min-width: 768px) {
		width: 270px;
	 }

	 @media screen and (min-width: 1280px) {
		width: 365px;
		/* margin-right: 416px; */
	 }
}

.text {
  margin-top: 24px;
  margin-bottom: 36px;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.64px;
  position: relative;

  @media screen and (min-width: 768px) {
	width: 340px;
	margin-top: 0;

	&::before{
		content: '';
	display: block;
	height: 110px;
	width: 1px;
	background: var(--accent-cl);
	position: absolute;
	left: -11px;

	
	}

	@media screen and (min-width: 1280px) {
		&::before{
			/* content: '';
		display: block;
		height: 110px;
		width: 1px;
		background: var(--accent-cl);
		position: absolute; */
		height: 87px;
		left: -220px;
	 }
 }}

 @media screen and (min-width: 1280px) {
	width: 459px;
	margin-left: auto;
 }
}

/* .verticalLine {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
		transform: rotate(90deg);
		margin-left: 82px;
		margin-right: 11px;
	 }
} */

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  width: 100%;


  @media screen and (min-width: 768px) {
	grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
 }

 @media screen and (min-width: 1280px) {
 }
}

.sell_1, .sell_2, .sell_5, .sell_6 {
  width: 136px;
  height: 175px;
  padding: 12px;
  background-color: var(--secondary-bg);

  @media screen and (min-width: 1280px) {
	padding-top: 48px;
	padding-left: 24px;
	width: 262px;
	height: 300px;
  }
}

.sell_3, .sell_4 {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
	}
}

/* .sell_1 {
	@media screen and (min-width: 768px) {
		background-color: red;
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: auto;
		grid-column-end: auto;
	}
} */

/* .sell_2 {
	@media screen and (min-width: 768px) {
		background-color: orange;
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: auto;
		grid-column-end: auto;
	}
} */

.sell_3 {
	@media screen and (min-width: 768px) {
		/* background-color: green; */
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: 3;
		grid-column-end: 5;
	}
}

.sell_4 {
	@media screen and (min-width: 768px) {
		/* background-color: rgb(138, 138, 226); */
		grid-row-start: 2;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

/* .sell_5 {
	@media screen and (min-width: 768px) {
		background-color: blue;
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: auto;
		grid-column-end: auto;
	}
} */

/* .sell_6 {
	@media screen and (min-width: 768px) {
		background-color: blueviolet;
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: auto;
		grid-column-end: auto;
	}
} */

/* .sell_7 {
	

	@media screen and (min-width: 768px) {
		background-color: aqua;
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: auto;
		grid-column-end: auto;
	}
} */

/* .sell_8 {
	

	@media screen and (min-width: 768px) {
		background-color: bisque;
		grid-row-start: auto;
		grid-row-end: auto;
		grid-column-start: auto;
		grid-column-end: auto;
	}
} */

.image {
	@media screen and (min-width: 768px) {
		width: 344px;
		height: 200px;
	}

	@media screen and (min-width: 1280px) {
		width: 620px;
		height: 360px;
	  }
}
.valueBlock {
  margin-bottom: 33px;

  @media screen and (min-width: 768px) {
margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
	margin-bottom: 94px;
	}
}

.icon {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  fill: none;
  display: inline;
  margin-right: 8px;

  @media screen and (min-width: 1280px) {
	width: 24px;
  height: 24px;
	}
}

/* .value {
  display: inline;

 
} */

.value {
	display: inline;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
	font-size: 32px;
  }
}

.line {
  height: 1px;
  background-color: var(--accent-cl);
  border: none;

  @media screen and (min-width: 1280px) {
	margin-bottom: 24px;
	}
}

.definition {
  font-size: 14px;
  text-align: justify;
  text-transform: lowercase;

  @media screen and (min-width: 1280px) {
	font-size: 16px;
	}
}
